<div class="card my-5">

  <div class="form-floating mb-3">
    <input type="search" class="form-control" id="floatingInput"
           placeholder="name@example.com" oninput="getSubList(this.value)">
    <label for="floatingInput">Name</label>
  </div>

  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Balance</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let account of accountsSublist">
        <td>{{ account.id }}</td>
        <td>{{ account.name }}</td>
        <td>{{ account.balance }}</td>
        <td>{{ account.email }}</td>
        <td>{{ account.address }}</td>
        <td>{{ account.date }}</td>
<!--        <td><a href="mailto:{{ account.email }}">{{ account.email }}</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
