<div class="card my-5">

  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Recipient ID</th>
        <th scope="col">Sender ID</th>
        <th scope="col">Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let transaction of transactions">
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.recipientAccount.id }}</td>
        <td>{{ transaction.senderAccount.id }}</td>
        <td>{{ transaction.date }}</td>
        <!--        <td><a href="mailto:{{ account.email }}">{{ account.email }}</a></td>-->
      </tr>
      </tbody>
    </table>
  </div>
</div>
